<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112237423704-j19npgg2drler62egguj39g380jc25gf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112237423704-j19npgg2drler62egguj39g380jc25gf</string>
	<key>API_KEY</key>
	<string>AIzaSyBr0hxVPqbRI7vmlGLbE_IBOMU_Vwqaouo</string>
	<key>GCM_SENDER_ID</key>
	<string>112237423704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mattsears18.fluttershare</string>
	<key>PROJECT_ID</key>
	<string>fluttershare-28b68</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttershare-28b68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112237423704:ios:8aa0d2d745bfe8e13a6e2d</string>
	<key>DATABASE_URL</key>
	<string>https://fluttershare-28b68.firebaseio.com</string>
</dict>
</plist>